<div class="row">
  <div class="col-md-4">
    <button (click)="readEvents()" class="btn btn-primary">Read Event Stream
    </button>
  </div>
  <div class="col-md-4" *ngIf="showUnsub">
    <button (click)="stopEvents()" class="btn btn-danger">Stop Event Stream
    </button>
  </div><div class="col-md-4" [ngClass]="{'col-md-offset-4': !showUnsub }">
    <button (click)="resetCounters()" class="btn btn-info">Reset counters
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    Event name:
  </div>
  <div class="col-md-9" [ngSwitch]="lastEventName">
    <div class="row" *ngSwitchCase="'CreateCustomerRequestEvent'">
      <div class="col-md-3 active">Create Customer Request {{ccr}}</div>
      <div class="col-md-3">Create Customer {{cc}}</div>
      <div class="col-md-3">Save Customer {{sc}}</div>
      <div class="col-md-3">Register Customer {{rc}}</div>
    </div>
    <div class="row" *ngSwitchCase="'CreateCustomerEvent'">
      <div class="col-md-3">Create Customer Request {{ccr}}</div>
      <div class="col-md-3 active">Create Customer  {{cc}}</div>
      <div class="col-md-3">Save Customer {{sc}}</div>
      <div class="col-md-3">Register Customer {{rc}}</div>
    </div>
    <div class="row" *ngSwitchCase="'SaveCustomerEvent'">
      <div class="col-md-3">Create Customer Request {{ccr}}</div>
      <div class="col-md-3">Create Customer  {{cc}}</div>
      <div class="col-md-3 active">Save Customer {{sc}}</div>
      <div class="col-md-3">Register Customer {{rc}}</div>
    </div>
    <div class="row" *ngSwitchCase="'RegisterCustomerEvent'">
      <div class="col-md-3">Create Customer Request {{ccr}}</div>
      <div class="col-md-3">Create Customer  {{cc}}</div>
      <div class="col-md-3">Save Customer {{sc}}</div>
      <div class="col-md-3 active">Register Customer {{rc}}</div>
    </div>
    <div class="row" *ngSwitchDefault>
      <div class="col-md-3">Create Customer Request {{ccr}}</div>
      <div class="col-md-3">Create Customer  {{cc}}</div>
      <div class="col-md-3">Save Customer {{sc}}</div>
      <div class="col-md-3">Register Customer {{rc}}</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 pull-left">
    <h4 class="list-group-item-heading">Event</h4>
    <p class="list-group-item-text">Create Customer Request</p>
  </div>
  <div class="col-md-8 pull-right">
    <h4 class="list-group-item-heading">Properties</h4>
    <ul class="list-group-item-text">
      <li *ngFor="let item of ccrParams.params | keyvalue">
        {{item.key}}:{{item.value}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 pull-left">
    <h4 class="list-group-item-heading">Event</h4>
    <p class="list-group-item-text">Create Customer</p>
  </div>
  <div class="col-md-8 pull-right">
    <h4 class="list-group-item-heading">Properties</h4>
    <ul class="list-group-item-text">
      <li *ngFor="let item of ccParams.params | keyvalue">
        {{item.key}}:{{item.value}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 pull-left">
    <h4 class="list-group-item-heading">Event</h4>
    <p class="list-group-item-text">Save Customer</p>
  </div>
  <div class="col-md-8 pull-right">
    <h4 class="list-group-item-heading">Properties</h4>
    <ul class="list-group-item-text">
      <li *ngFor="let item of scParams.params | keyvalue">
        {{item.key}}:{{item.value}}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 pull-left">
    <h4 class="list-group-item-heading">Event</h4>
    <p class="list-group-item-text">Register Customer</p>
  </div>
  <div class="col-md-8 pull-right">
    <h4 class="list-group-item-heading">Properties</h4>
    <ul class="list-group-item-text">
      <li *ngFor="let item of rcParams.params | keyvalue">
        {{item.key}}:{{item.value}}
      </li>
    </ul>
  </div>
</div>
